@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *::after, *::before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix::before, .clearfix::after {display: table;  content: ''; }
.clearfix::after { clear: both; }

body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background-image: linear-gradient(45deg, #d1d7ef 0%, #ffb8cc 100%);
	/*background-image: url('../img/BKGD.png');*/
	background-repeat: round;
	background-attachment: fixed;
	-webkit-font-smoothing: antialiased;
}

a {
	outline: none;
	color: #323F5C;
	text-decoration: none;
	cursor: pointer;
}

a:hover, a:focus {
	color: #4d5871;
	outline: none;
}

.button-menu {
	width: 50px;
	height: 30px;
	position: fixed;
	top: 3em;
	right: 3em;
	border: none;
	background: transparent;
	fill: #fff;
	cursor: pointer;
	pointer-events: auto;
}

.button-menu:focus {
	outline: none;
}

/* Header */
.codrops-header {
	padding: 3vmax 0 0 3vmax;
	position: absolute;
	width: 100%;
	z-index: 2000;
	pointer-events: none;
}

.demo-1 .codrops-header {
	position: fixed;
}

.codrops-header h1 {
	margin: 0;
	letter-spacing: -0.035em;
	font-size: 3em;
	line-height: 1;
	font-weight: 100;
	color: #323F5C;
}

.codrops-header img {
	margin: 0;
	height: 60px;
	width: 60px;
	padding: 15px 0px 0px 15px;
}

.codrops-header p {
	padding: 0;
	margin: 0;
  font-size: 1.25em;
  font-weight: 400;
  color: #fff;
}

.codrops-header p#bio {
	padding: 0;
	margin: 0;
  font-size: 16px;
	line-height: 1.5em;
  font-weight: 400;
  color: #fff;
	margin-top: 2%;
	margin-bottom: 2%;
	max-width: 400px;
}

/* Demo links */
.codrops-demos {
	margin: 1.5em 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 1em 0 0;
	font-weight: bold;
	pointer-events: auto;
	font-weight: 400;
	font-size: 16px;
}

.codrops-demos a.current-demo {
	color: #ce4555;
}

/* Content */
.section {
	overflow: hidden;
	position: relative;
	height: 100vh;
	min-height: 800px;
	max-height: 1200px;
	padding: 7vmax;
}

.section--right {
	text-align: right;
}

.section--intro {
	background: linear-gradient(90deg, #58A8FB, #465683);
}

.section--portraits {
	background: linear-gradient(20deg, #F5F0F9, #A8CFF1);
}

.section--shots {
	background: linear-gradient(20deg, #D1D7EF, #5C61F5);
}

.section--cards {
	background: #FFB8CC;
}

.section__heading {
	pointer-events: none;
	padding: 0;
	font-size: 4.5em;
	line-height: 1;
	margin: 0;
	color: #fff;
	position: relative;
	z-index: 1000;
}

.section__heading em {
	font-family: sans-serif;
	font-style: normal;
	text-transform: uppercase;
	font-size: 0.3em;
	border-top: 3px solid #fff;
	border-bottom: 3px solid #fff;
	padding: 0.15em 0;
	vertical-align: middle;
	display: inline-block;
	letter-spacing: 0.05em;
}

.section__subtitle {
	pointer-events: none;
	font-size: 1.25em;
	max-width: 500px;
	position: relative;
	z-index: 1000;
}

.section--portraits .section__subtitle {
	color: #688CB1;
}

.section--right .section__subtitle {
	margin: 1em 0 0 auto;
}

.interval {
	position: relative;
	padding: 30vh 20vw;
	background: #1C222F;
	overflow: hidden;
}

.interval__text {
	font-size: 1.75em;
	line-height: 1.5;
	color: #777792;
}

@media screen and (max-width: 599px) {
  .grid {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .codrops-header {
    padding-right: 10%;
  }
}

@media screen and (max-width: 599px) {
  .codrops-header p#bio {
    padding-bottom: 10%;
		padding-top: 10%;
  }
}

@media screen and (min-width: 599px) {
  .codrops-header p#desktop {
    display: none;
  }
}

@media screen and (max-width: 599px) {
  .codrops-header p#desktop {
		display: inline-block;
		font-size: 16px;
		line-height: 1.5em;
		font-weight: 400;
		margin-bottom: 5%;
    padding-bottom: 5%;
		padding-top: 5%;
		padding-left: 5%;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.05);
  }
}
